body {
  background-color: #cee7ff;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  main {
    min-height: 80vh;
  }
  .rating span {
    margin: 0.1rem;
  }
  h3 {
    padding: 1rem 0;
  }
  .carousel-caption{

    color: #212529
  }

  .img{
    height:25rem;
   
  }
  .wrapper{
    margin-top: 10px;
  }